
.container{
  margin-left: 5em;
}

.spacedout{
  letter-spacing: 0.3em;
  font-weight: bold;
}

.headings{
  position: relative;
  text-align: left;
  top: 3em;
  color: white;
}

.coverImage{
  height: 30em;
  background-size: cover;
  background-image: url("../images/barcelona5.png");
  background-position: bottom;
}

.button{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: rgb(50, 50, 50);
}

.button:hover{
  background-color: rgba(255, 255, 255, 0.4);
}

.icon {
  height:1.5em;
  width:1.5em;
}
