html{
  max-width: 960px;
  font-family: 'Cabin', sans-serif;
}
/*Index page*/
.col-12{
  text-align: center;
  color: #051d44;
  margin-bottom: 0;
}
.offset-by-three{
  margin-left: 15%;
}
.col-4{
  background-color: #5d687c;
  color: white;
  text-indent: 2em;
  width: 60%;
  font-size: 2em;
  border-radius: 60%
}
  /*anything smaller than 600px do these rules*/
 @media (max-width: 600px) {
   .col-4{
       font-size: 1.4em;}
  }

.row{
  margin: 2em;
}

/*blog posts*/
.blog_button a{
  color: #051d44;
}
.text{
  margin: 2em;
}
